PORT=5000
NODE_ENV=development

# Configuración JWT
JWT_SECRET=super_secret_key_cooperadora_necochea_2026

# Conexión SQL (Puede ser mysql o postgres)
# Ejemplo MySQL: mysql://usuario:password@localhost:3306/cooperadora_db
# Ejemplo Postgres: postgres://usuario:password@localhost:5432/cooperadora_db
DATABASE_URL=postgres://postgres:ncstis.05@localhost:5432/cooperadora_db

# Conexión MongoDB
# Ejemplo Local: mongodb://localhost:27017/cooperadora_nosql
MONGODB_URI=mongodb://localhost:27017/cooperadora_nosql

# Configuración de Servidor SMTP (Email)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
SMTP_SECURE=false
EMAIL_FROM="Cooperadora Hospital" <no-reply@cooperadora.org>
